*{
	margin: 0px;
	padding: 0px;
	font-family: Raleway;
}
body.fondo{
	background: url('../imagen/fondo.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}
div.login-box-body{
	background: rgba(0, 0, 0, 0.5);
}
